<ion-header [translucent]="true" *ngIf="autenticado" >
  <ion-toolbar>
    <!-- <ion-title>ScoolSync</ion-title> -->
    <ion-buttons slot="end">
      <ion-button disabled >Kairos</ion-button>
      <!-- <ion-button (click)="navega('datos')">Datos</ion-button>
      <ion-button (click)="navega('horarios')">Horarios</ion-button>
      <ion-button (click)="navega('add-horario')">add horario</ion-button> -->
      <!-- <ion-button (click)="navega('home')">Usuarios</ion-button> -->
      <ion-button (click)="logout()">Salir</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
