ion-header {
  background-color: #f4f4f4;
}

ion-title {
  color: #000;
}

.content-container {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 20px;
}

.centered-button {
  width: auto;
  max-width: 300px;
}


.color-bar {
  height: 8px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
