<ion-content [fullscreen]="true">
  <div id="login-container">
    <h2>Iniciar Sesión</h2>

    <ion-input 
      type="text" 
      placeholder="Username" 
      [(ngModel)]="username" 
      (input)="validateFields()">
    </ion-input>

    <ion-input 
      type="password" 
      placeholder="Password" 
      [(ngModel)]="password" 
      (input)="validateFields()">
    </ion-input>

    <ion-button [disabled]="!isValid" (click)="showModal()">
      Ingresar
    </ion-button>

    <ion-button fill="clear" (click)="goToRegister()" class="register-btn">
      Regístrate
    </ion-button>
  </div>
</ion-content>
