<ion-content class="ion-padding">
  <div id="register-container">
    <ion-card>
      <ion-card-header>
        <ion-card-title class="title">Registro de Usuario</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <div class="scroll-container">
          <ion-item>
            <ion-label position="stacked">Correo Electrónico</ion-label>
            <ion-input type="email" [(ngModel)]="email" placeholder="email" (input)="validateForm()"></ion-input>
          </ion-item>
          <p *ngIf="!emailValid && email.length > 0" class="error-msg">Correo inválido</p>

          <ion-item>
            <ion-label position="stacked">Nombre Completo</ion-label>
            <ion-input type="text" [(ngModel)]="fullName" placeholder="nombre"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="stacked">Usuario</ion-label>
            <ion-input type="text" [(ngModel)]="username" placeholder="nombre de usuario"
              (input)="removeSpaces()" (input)="validateForm()"></ion-input>
          </ion-item>
          <p *ngIf="username.includes(' ')" class="error-msg">El usuario no puede contener espacios</p>

          <ion-item>
            <ion-label position="stacked">Contraseña</ion-label>
            <ion-input type="password" [(ngModel)]="password" (input)="validatePassword()"></ion-input>
          </ion-item>
          <p *ngIf="!passwordValid && password.length > 0" class="error-msg">
            Debe contener al 8 caracteres, mayúscula, minúscula, un número y un carácter especial.
          </p>

          <ion-item>
            <ion-label position="stacked">Confirmar la Contraseña</ion-label>
            <ion-input type="password" [(ngModel)]="confirmPassword" (input)="validateForm()"></ion-input>
          </ion-item>
          <p *ngIf="password && confirmPassword && password !== confirmPassword" class="error-msg">
            Las contraseñas no coinciden
          </p>
          <ion-item>
            <ion-label position="stacked">Fecha de Nacimiento</ion-label>
            <ion-button expand="block" fill="outline" (click)="toggleCalendar()">
              {{ showCalendar ? 'Ocultar Calendario' : 'Mostrar Calendario' }}
            </ion-button>
            <ion-datetime
              *ngIf="showCalendar"
              display-format="DD/MM/YYYY"
              [(ngModel)]="birthDate"
              (ionChange)="validateForm()"
              presentation="date"
              size="cover"
              class="minimal-calendar"
            ></ion-datetime>
          </ion-item>
          <ion-button expand="full" color="primary" (click)="registerUser()">Registrarse</ion-button>
          <ion-button expand="full" fill="clear" class="register-btn" (click)="navCtrl.navigateBack('/home')">
            Inicia sesión
          </ion-button>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
